body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.text{
    font-size: 30px;
}
.text:hover:before{
    content: "Subscribe For More";
    cursor: pointer;
}
.text:hover span{
    display: none;
}
